<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{/static/assets/favicon.ico}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/static/css/styles.css}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/shop/1">AI pics</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Pick your AI pic</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With many profession's fine generating</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="pt-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <p th:if="${ItemPage.items.size()==0}" th:text="|등록된 상품이 없습니다!|"></p>
                    <div class="col mb-5" th:if="${ItemPage.items.size()>0}">
                        <div class="card h-100">
                            <!-- Product image-->
                            <div>
                            <img class="card-img-top" th:src="@{/files/__${ItemPage.items[0].fileName}__}" alt="..." />
                            </div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="${ItemPage.items[0].tags_str}">Fancy Product</h5>
                                    <!-- Product price-->
                                    <p th:text="${ItemPage.items[0].point}">img point</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:text="#{page.item}" th:href="@{items/} + ${ItemPage.items[0].id}">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5" th:if="${ItemPage.items.size()>1}">
                        <div class="card h-100">
                            <!-- Product image-->
                            <div>
                                <img class="card-img-top" th:src="@{/files/__${ItemPage.items[1].fileName}__}" alt="..." />
                            </div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="${ItemPage.items[1].tags_str}">Special Item</h5>
                                    <!-- Product price-->
                                    <p th:text="${ItemPage.items[1].point}">img point</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:text="#{page.item}" th:href="@{items/} + ${ItemPage.items[1].id}">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5" th:if="${ItemPage.items.size()>2}">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <div>
                                <img class="card-img-top" th:src="@{/files/__${ItemPage.items[2].fileName}__}" alt="..." />
                            </div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="${ItemPage.items[2].tags_str}">Sale Item</h5>
                                    <!-- Product price-->
                                    <p th:text="${ItemPage.items[2].point}">img point</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:text="#{page.item}" th:href="@{items/} + ${ItemPage.items[2].id}">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5" th:if="${ItemPage.items.size()>3}">
                        <div class="card h-100">
                            <!-- Product image-->
                            <div>
                                <img class="card-img-top" th:src="@{/files/__${ItemPage.items[3].fileName}__}" alt="..." />
                            </div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="${ItemPage.items[3].tags_str}">Popular Item</h5>
                                    <!-- Product price-->
                                    <p th:text="${ItemPage.items[3].point}">img point</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:text="#{page.item}" th:href="@{items/} + ${ItemPage.items[3].id}">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5" th:if="${ItemPage.items.size()>4}">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <div>
                                <img class="card-img-top" th:src="@{/files/__${ItemPage.items[4].fileName}__}" alt="..." />
                            </div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="${ItemPage.items[4].tags_str}">Sale Item</h5>
                                    <!-- Product price-->
                                    <p th:text="${ItemPage.items[4].point}">img point</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:text="#{page.item}" th:href="@{items/} + ${ItemPage.items[4].id}">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5" th:if="${ItemPage.items.size()>5}">
                        <div class="card h-100">
                            <!-- Product image-->
                            <div>
                                <img class="card-img-top" th:src="@{/files/__${ItemPage.items[5].fileName}__}" alt="..." />
                            </div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="${ItemPage.items[5].tags_str}">Fancy Product</h5>
                                    <!-- Product price-->
                                    <p th:text="${ItemPage.items[5].point}">img point</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:text="#{page.item}" th:href="@{items/} + ${ItemPage.items[5].id}">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5" th:if="${ItemPage.items.size()>6}">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <div>
                                <img class="card-img-top" th:src="@{/files/__${ItemPage.items[6].fileName}__}" alt="..." />
                            </div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="${ItemPage.items[6].tags_str}">Special Item</h5>
                                    <!-- Product price-->
                                    <p th:text="${ItemPage.items[6].point}">img point</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:text="#{page.item}" th:href="@{items/} + ${ItemPage.items[6].id}">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5" th:if="${ItemPage.items.size()>7}">
                        <div class="card h-100">
                            <!-- Product image-->
                            <div>
                                <img class="card-img-top" th:src="@{/files/__${ItemPage.items[7].fileName}__}" alt="..." />
                            </div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="${ItemPage.items[7].tags_str}">Popular Item</h5>
                                    <!-- Product price-->
                                    <p th:text="${ItemPage.items[7].point}">img point</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:text="#{page.item}" th:href="@{items/} + ${ItemPage.items[7].id}">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center">
            <tr th:each="num : ${ItemPage.pages}">
                <a th:text="${num}" th:href="@{/shop/{pagenum}(pagenum=${num})}">username</a>
            </tr>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="itemform" th:text="#{page.addItem}"></a></div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{/static/js/scripts.js}"></script>
    </body>
</html>
